* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.hero {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/appetizer-avocado-bread-566566.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: white;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 90px;
}

.main-nav li {
  display: inline-block;
  margin-left: 20px;
}

.main-nav li a:hover {
  color: #e67e22;
  border-bottom: 1px solid #e67e22;
  transition: all 0.5s ease-in;
  padding: 15px 0;
}

.main-nav li a {
  color: white;
  text-decoration: none;
  font-size: 90%;
  font-weight: bold;
}

.logo img {
  height: 150px;
  float: left;
  margin-top: 5px;
}

.btn {
  border: 1px solid #e67e22;
  color: #e67e22;
  border-radius: 20px;
  padding: 10px 30px;
  text-decoration: none;
  margin-right: 15px;
}

.button {
  margin-top: 50px;
}

.btn-half {
  background-color: #e67e22;
  color: white;
}

.btn-half:hover {
  opacity: 0.7;
  border: 1px solid #e67e22;
  transition: all 0.2s ease-in;
}

.btn-full:hover {
  background-color: #e67e22;
  color: white;
  transition: all 0.5s ease-in;
}

.copy {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 5%;
}

.text-center {
  color: #e67e22;
}
h3::after {
  width: 100px;
  height: 2px;
  background-color: #e67e22;
  display: block;
  content: " ";
  margin: 0 auto;
  margin-top: 30px;
}

.features h3 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.arranging {
  margin: 20px;
  padding: 20px;
  text-align: left;
  border: 1px solid #e67e22;
}

.container h4 {
  color: #e67e22;
  text-align: center;
}

.meal-showcase {
  list-style: none;
  width: 100%;
}

.meal-showcase li {
  display: block;
  width: 25%;
  float: left;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.meal-photo img {
  height: 350px;
  margin: auto;
  transform: scale(1.15);
  transition: all 0.5s;
}

.meal-photo img:hover {
  transform: scale(1.05);
}

.meal {
  margin-top: 80px;
}

.pic img {
  margin-top: 50px;
  margin-right: 200px;
  float: right;
  width: 110%;
  border: 2px solid #e67e22;
  border-radius: 30px;
}

.works-step {
  margin-top: 50px;
}

.works-step div {
  border: 1px solid #e67e22;
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.works-step img {
  height: 80px;
  margin-top: 20px;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  visibility: hidden;
  content: ".";
  height: 0;
  display: block;
  clear: both;
}

.mobile {
  margin-top: 60px;
}

.works-step a:hover {
  opacity: 0.7;
}

.cities {
  margin-top: 100px;
}

.cities img {
  height: 250px;
  width: 250px;
  margin-top: 50px;
  border: 2px solid #e67e22;
  border-radius: 30px;
  margin-left: 0;
  margin-right: 0;
}
.cities img:hover {
  opacity: 0.6;
  border: 2px solid #0fc7d4;
  transform: scale(1.15);
  transition: all 0.5s;
}

.cities h4 {
  margin-top: 20px;
}

.cities i {
  color: #e67e22;
}
